@model IEnumerable<The_Masquerade.Models.Story>

@{
    ViewBag.Title = "Stories";
}
<h2>Stories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink((Html.DisplayFor(modelItem => item.Name)).ToString(), "Index", "Chronicles", new { id = item.System_id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.System_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.System_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.System_id })
        </td>
    </tr>
}

</table>